@import "../../scss/functions";
@import "../../scss/variables";

.PrivacyPage {
  display: flex;
  flex-direction: column;
  padding-bottom: $spacer-12;
  padding-top: $spacer-10;
  @media (min-width: $breakpoint-md) {
    padding-top: $spacer-12;
  }
}

.PrivacyPage__Title {
  padding-bottom: $spacer-8;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    min-width: 940px;
    text-align: left;
  }
}

.PrivacyPage__Subtitle {
  padding-bottom: $spacer-6;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}

.PrivacyPage__Text {
  color: $grey-500;
  padding-bottom: $spacer-6;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}

.PrivacyPage__CTA {
  display: flex;
  justify-content: center;
  padding-bottom: $spacer-8;

  @media (min-width: $breakpoint-md) {
    justify-content: flex-start;
  }
}
