@import "../../scss/functions";
@import "../../scss/variables";

.SubmittedPage {
  display: flex;
  flex-direction: column;
  padding-bottom: $spacer-12;
  padding-top: $spacer-10;
  @media (min-width: $breakpoint-md) {
    padding-top: $spacer-12;
  }
}

.SubmittedPage__StrapLine {
  padding-bottom: $spacer-8;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}

.SubmittedPage__BlurbTextList {
  list-style: none;
  padding-bottom: $spacer-4;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}

.SubmittedPage__BlurbTextListItem {
  color: $grey-500;
  padding-bottom: $spacer-6;
}

.SubmittedPage__Name {
  color: $grey-800;
}

.SubmittedPage__CopyButton {
  padding-left: 0;
  padding-right: 0;
  width: 60px;
}

.SubmittedPage__LinkContainer {
  display: flex;
  margin-top: $spacer-2;
  width: 100%;
}

.SubmittedPage__TextArea {
  background-color: $grey-100;
  border: none;
  color: $grey-300;
  font-size: $font-size-h5;
  height: 47px;
  padding-bottom: 0;
  padding-left: $spacer-4;
  padding-right: $spacer-4;
  padding-top: 11px;
  resize: none;
  white-space: nowrap;
  width: 100%;
}

.SubmittedPage__Image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: $spacer-8;
  width: 80%;

  @media (min-width: $breakpoint-md) {
    justify-content: flex-start;
    padding-top: $spacer-9;
    width: 100%;
  }
}

.SubmittedPage__CTA {
  padding-bottom: $spacer-12;
  padding-top: $spacer-4;
}
