@import "../../scss/functions";
@import "../../scss/variables";

.FormPage {
  display: flex;
  flex-direction: column;
  padding-bottom: $spacer-12;
  padding-top: $spacer-10;
  @media (min-width: $breakpoint-md) {
    padding-top: $spacer-12;
  }
}

.FormPage__Title {
  padding-bottom: $spacer-8;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}

.FormPage__BlurbText {
  color: $grey-500;
  padding-bottom: $spacer-8;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}

.FormPage__Section {
  padding-bottom: $spacer-8;
}

.FormPage__InputRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.FormPage__Input {
  padding-bottom: $spacer-8;
}

.FormPage__Checkbox {
  padding-bottom: $spacer-8;
}

.FormPage__Submit {
  padding-bottom: $spacer-8;
}
