@import "../../scss/functions";
@import "../../scss/variables";

.Header {
  background-color: $primary-colour;
  background-image: url($argyle-background);
  color: $white;
  font-family: $font-family-headings;
  height: 120px;
}

.Header__Wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 948px;
  @media (min-width: $breakpoint-lg) {
    justify-content: flex-start;
    padding-left: $spacer-6;
  }
}

.Header__Text {
  padding-left: $spacer-2;
}
