@import "../../scss/functions";
@import "../../scss/variables";

.ErrorPage {
  display: flex;
  flex-direction: column;
  padding-top: $spacer-10;
  @media (min-width: $breakpoint-md) {
    padding-bottom: $spacer-12;
    padding-top: $spacer-12;
  }
}

.ErrorPage__StrapLine {
  padding-bottom: $spacer-8;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}

.ErrorPage__BlurbTextList {
  list-style: none;
  padding-bottom: $spacer-4;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    text-align: left;
  }
}

.ErrorPage__BlurbTextListItem {
  color: $grey-500;
  padding-bottom: $spacer-6;
}

.ErrorPage__CTA {
  display: flex;
  justify-content: center;
  padding-bottom: $spacer-8;

  @media (min-width: $breakpoint-md) {
    justify-content: flex-start;
  }
}

.ErrorPage__Image {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: $spacer-8;
  width: 80%;

  @media (min-width: $breakpoint-md) {
    justify-content: flex-start;
    padding-top: $spacer-9;
    width: 100%;
  }
}
