@import "../../scss/functions";
@import "../../scss/variables";

.Footer {
  align-items: center;
  background-color: $secondary-colour;
  background-image: url($argyle-background);
  color: $white;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-evenly;
}

.Footer__LinkRow {
  align-items: center;
  display: flex;
}

.Footer__Item {
  padding-left: $spacer-4;
  padding-right: $spacer-4;
}
