@import "../../scss/functions";
@import "../../scss/variables";

.Footer {
  align-items: center;
  background-color: $secondary-colour;
  color: $white;
  display: flex;
  height: 50px;
  justify-content: center;
}

.Footer__Item {
  padding-left: $spacer-4;
  padding-right: $spacer-4;
}
