@import "../../scss/functions";
@import "../../scss/variables";

.Footer {
  align-items: center;
  background-color: $secondary-colour;
  color: $white;
  display: flex;
  height: 50px;
  justify-content: center;
}
